
// Color Variables ---------------------- /
$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;

$color-white: #fff;
$color-body-font: #777;

$color-col-3: #deb2ee;
$color-col-4: #7ee6fd;
$color-col-5: #88d9a0;
$color-col-6: #4da2bb;
$color-col-7: #ec9fa3;
$color-col-8: #fd9f85;
$color-col-12: #80e8d1;


// Media Query Pixel Width ---------------------- /
$media-query: 768px;

// Font Stack ---------------------- /
$primary-font-stack: 'Lato', sans-serif;